<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {$TEA_VUE}
</head>
<body>

<div>
    <div>
        <div class="ui statistic">
            <div class="ui label">QPS</div>
            <div class="ui number" v-if="qps > 0">{{qps}}</div>
            <div class="ui number disabled" v-if="qps == 0">[没有请求]</div>
        </div>
    </div>
    <div>
        <div class="ui statistic">
            <div class="ui label">带宽</div>
            <div class="ui number" v-if="outputBandwidth != '-'">{{outputBandwidth}}</div>
            <div class="ui number disabled" v-if="outputBandwidth == '-'">[没有请求]</div>
        </div>
    </div>
</div>

</body>
</html>