# Created by .ignore support plugin (hsz.mobi)
docs/
pkg/
*.cache
src/tests
src/github.com/go-yaml
src/github.com/kr
src/github.com/pbnjay
src/github.com/pquerna
src/github.com/go-sql-driver
src/github.com/golang
src/github.com/hpcloud
src/github.com/ua-parser
src/github.com/mongodb
src/github.com/syndre
src/gopkg.in
src/main/tmp/*
src/main/logs/*
dist/
bin/
