<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录</title>
    {$TEA.VUE}
    {$TEA.SEMANTIC}
</head>
<body>

<div id="tea-app">
    <form class="ui form" data-tea-action=".">
        <table class="ui table">
            <tr>
                <td>用户名</td>
            </tr>
            <tr>
                <td><input type="text" name="username" placeholder="请输入用户名" maxlength="30"/></td>
            </tr>
            <tr>
                <td>密码</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="请输入密码" maxlength="30"/></td>
            </tr>
        </table>

        <button class="ui button primary" type="submit">登录</button>
    </form>

</div>

</body>
</html>