{$layout}

<div>
    <h3>{{proxy.description}}（{{proxy.id}}）</h3>

    <div class="ui text menu blue">
        <a :href="$url('/proxy/detail', { 'filename':filename })" class="item">基本信息</a>
        <a :href="$url('/proxy/ssl', { 'filename':filename })" class="item">HTTPS<i class="ui icon expeditedssl" :class="{green:proxy.ssl && proxy.ssl.on, grey:!proxy.ssl || !proxy.ssl.on}"></i></a>
        <a :href="$url('/proxy/backend', { 'filename':filename })" class="item">后端服务器({{proxy.backends.length}})</a>
        <a :href="$url('/proxy/locations', { 'filename':filename })" class="item">路径规则({{proxy.locations.length}})</a>
        <a :href="$url('/proxy/locations/detail', { 'filename':filename, 'index':locationIndex })" class="item active">&raquo; 路径：{{location.pattern}}</a>
    </div>

    <form class="ui form">
        <h4>基本信息</h4>
        <table class="ui table width30 selectable definition ">
            <tr>
                <td>是否启用</td>
                <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" :checked="location.on" v-on:click.prevent="switchOn()"/>
                        <label></label>
                    </div>
                    <p class="comment">选中表示启用此路径规则配置</p>
                </td>
            </tr>
            <tr>
                <td class="title">规则</td>
                <td>{{location.pattern}}</td>
            </tr>
            <tr>
                <td>规则类型</td>
                <td v-if="location.type == 1">前缀</td>
                <td v-if="location.type == 2">精准匹配</td>
                <td v-if="location.type == 3">正则表达式</td>
            </tr>
            <tr>
                <td>反向匹配</td>
                <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" :checked="location.reverse" v-on:click.prevent="reverse()"/>
                        <label></label>
                    </div>
                    <p class="comment">选中表示匹配所有<strong>不符合</strong>规则的路径</p>
                </td>
            </tr>
            <tr>
                <td>不区分大小写</td>
                <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" :checked="location.caseInsensitive" v-on:click.prevent="switchCaseInsensitive()"/>
                        <label></label>
                    </div>
                    <p class="comment">选中表示匹配规则中的路径中的英文字母不区分大小写</p>
                </td>
            </tr>
        </table>

        <!-- 重写规则配置 -->
        <h4>重写规则</h4>
        <p class="comment" v-if="location.rewrite.length == 0">暂时还没有重写规则</p>

        <table class="ui table selectable width30" v-if="location.rewrite.length > 0">
            <thead>
                <tr>
                    <th class="five wide">匹配规则</th>
                    <th>重写目标</th>
                    <th></th>
                </tr>
            </thead>
            <tbody v-for="(rewrite, index) in location.rewrite">
                <tr>
                    <td>
                        <span v-if="rewrite.on"> {{rewrite.pattern}}</span>
                        <a class="disabled" v-if="!rewrite.on" title="未启用">{{rewrite.pattern}}</a>
                    </td>
                    <td>
                        <a class="disabled">{{rewrite.proxy}}</a>{{rewrite.replace}}
                    </td>
                    <td class="two op">
                        <a href="" title="修改" v-on:click.prevent="editRewrite(rewrite, index)"><i class="ui edit icon small"></i></a>
                        <a href="" title="删除" v-on:click.prevent="deleteRewrite(index)"><i class="ui remove icon circle"></i> </a>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing">
                    <td>是否启用</td>
                    <td colspan="2">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" :checked="rewrite.on" v-on:click.prevent="switchRewriteIndex(rewrite, index)"/>
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing">
                    <td class="title">匹配规则</td>
                    <td colspan="2">
                        <input type="text" name="pattern" maxlength="256" v-model="rewrite.pattern" placeholder="比如 /hello/(.+)"/>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing">
                    <td>目标类型</td>
                    <td colspan="2">
                        <select class="ui dropdown" name="targetType" v-model="rewrite.type" style="width:6em">
                            <option value="url">URL</option>
                            <option value="proxy">代理服务</option>
                        </select>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing && rewrite.type == 'proxy'">
                    <td>转发到代理服务</td>
                    <td colspan="2">
                        <a class="disabled" v-if="proxies.length == 0">还没有可用的代理服务。</a>
                        <select class="ui dropdown" name="proxyId" v-model="rewrite.proxyId" style="width:8em">
                            <option value="">[请选择]</option>
                            <option v-for="otherProxy in proxies" :value="otherProxy.id">{{otherProxy.name}}（{{otherProxy.id}}）</option>
                        </select>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing">
                    <td>目标URL</td>
                    <td colspan="2">
                        <input type="text" name="replace" maxlength="256" v-model="rewrite.replace" placeholder="比如 /hello/${1}.html"/>
                    </td>
                </tr>
                <tr v-if="rewrite.isEditing">
                    <td colspan="3">
                     <a href="" title="保存" v-on:click.prevent="updateRewrite(rewrite, index)"><i class="ui icon check circle"></i></a>
                     <a href="" title="取消" v-on:click.prevent="cancelEditRewrite(rewrite, index)"><i class="ui icon left arrow circle"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="ui table selectable width30 definition" v-if="rewriteAdding">
            <tr>
                <td class="title">匹配规则</td>
                <td>
                    <input type="text" name="pattern" maxlength="256" v-model="addingPattern" placeholder="比如 /hello/(.+)"/>
                </td>
            </tr>
            <tr>
                <td>目标类型</td>
                <td>
                    <select class="ui dropdown" name="targetType" v-model="targetType" style="width:6em">
                        <option value="url">URL</option>
                        <option value="proxy">代理服务</option>
                    </select>
                </td>
            </tr>
            <tr v-if="targetType == 'proxy'">
                <td>转发到代理服务</td>
                <td>
                    <a class="disabled" v-if="proxies.length == 0">还没有可用的代理服务。</a>
                    <select class="ui dropdown" name="proxyId" v-model="proxyId" style="width:8em">
                        <option value="">[请选择]</option>
                        <option v-for="otherProxy in proxies" :value="otherProxy.id">{{otherProxy.name}}（{{otherProxy.id}}）</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>目标URL</td>
                <td>
                    <input type="text" name="replace" maxlength="256" v-model="addingReplace" placeholder="比如 /hello/${1}.html"/>
                </td>
            </tr>
        </table>
        <div class="ui field" v-if="rewriteAdding">
            <a href="" title="保存" v-on:click.prevent="saveRewrite()"><i class="ui icon check circle"></i></a>
            <a href="" title="取消" v-on:click.prevent="cancelRewrite()"><i class="ui icon left arrow circle"></i></a>
        </div>

        <div class="ui field">
            <a href="" title="添加" v-on:click.prevent="addRewrite()"><i class="ui icon plus circle"></i> </a>
        </div>

        <!-- Fastcgi配置 -->
        <h4>Fastcgi</h4>
    </form>
</div>