.chart-groups {

}

.chart-groups .chart-group {
    width: 26em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0;
}

.chart-groups .chart-group .header {
    font-weight: bold;
    padding-bottom: 1em;
}

.chart-groups .chart-group .table-box {
    margin-bottom: 1em;
}
