{$layout}

<div>
    <h3></h3>

    <form class="ui form" data-tea-action=".add" autocomplete="off">
        <div class="ui field">
            <label>代理ID</label>
            <input type="text" name="id" maxlength="100" placeholder="比如 LB001"/>
            <p class="comment"><i class="ui icon info circle "></i>用于在别的配置中引用此代理配置</p>
        </div>
        <div class="ui field">
            <label>代理说明</label>
            <input type="text" name="description" maxlength="100" placeholder="比如 负载均衡001"/>
        </div>
        <button class="ui button primary" type="submit">保存</button>
    </form>
</div>