{$layout}

<p class="ui message" v-if="servers.length == 0">暂时还没有服务，<a href="/proxy/add">现在就去添加</a>。</p>

<p class="ui message warning" v-if="statusChanged">代理服务已被修改，<a href="" v-on:click.prevent="restart()">点此重启后生效</a></p>

<table class="ui table selectable" v-if="servers.length > 0">
    <thead>
        <tr>
            <th class="three wide">代理说明</th>
            <th>对外访问域名</th>
            <th>监听地址</th>
            <th>后端</th>
            <th class="two wide">操作</th>
        </tr>
    </thead>
    <tr v-for="server in servers">
        <td>{{server.config.description}}</td>
        <td>
            <a v-if="server.config.name.length == 0" class="disabled">还没有设置域名</a>
            <span v-if="server.config.name.length == 1">{{server.config.name[0]}}</span>
            <span v-if="server.config.name.length > 1">{{server.config.name[0]}} 及其他{{server.config.name.length}}个域名</span>
        </td>
        <td>
            <a v-if="server.config.listen.length == 0" class="disabled">还没有监听地址</a>
            <span v-if="server.config.listen.length == 1">{{server.config.listen[0]}}</span>
            <span v-if="server.config.listen.length > 1">{{server.config.listen[0]}} 及其他{{server.config.listen.length}}个地址</span>
        </td>
        <td>
            <a class="disabled" v-if="server.config.backends.length == 0">{{server.config.backends.length}}个后端服务</a>
            <span v-if="server.config.backends.length > 0">{{server.config.backends.length}}个后端服务</span>
        </td>
        <td>
            <a v-bind:href="'/proxy/detail?filename=' + server.filename" title="详情"><i class="ui info icon circle"></i> </a> &nbsp; <a href="" data-tea-action=".delete" v-bind:data-filename="server.filename" data-tea-confirm="您确定要删除此服务吗？" title="删除"><i class="ui icon remove circle"></i> </a>
        </td>
    </tr>
</table>